{% extends "tmate/base.html" %}

{% block static %}
{% endblock %}

{% block content %}

{% load static %}

<section>
  <div class="big_title">
    {% if not is_login %}
    <img id="big_img" src="{% static 'img/bg-01.png' %}" alt=""/>
    <div class="text_area">
      <div class="text_area_width">
        <h2>Meet Designers and Programmers</h2>
        <h5>Programmers, designers and ideas meet together.<span class="only_mobile"></span>
          Get works done.</h5>
      </div>
    </div>
  </div>
  <div class="search_middle">
      <form id="tfnewsearch" method="get" action="{% url 'search' %}">
        <input type="text" id="tfq" class="tftextinput2" name="q" size="21" maxlength="120" placeholder="Designers? Programmers? Skills?"/>
        <input type="submit" value="Search" class="tfbutton2"/>
      </form>
      <div class="tfclear"></div>
  </div>
  {% else %}
  <form id="tfnewsearch" method="get" action="{% url 'search' %}">
    <input type="text" id="tfq" class="tftextinput2" name="q" size="21" maxlength="120" placeholder="Designers? Programmers? Skills?"/>
    <input type="submit" value="Search" class="tfbutton2"/>
  </form>
  {% endif %}


  <div class="index_container">

    <div class="design_program">
      <h5 class="subtitle">Find the right freelancers for your team.</h5>
      <p class="subtitle_des">Based on skills, comments and locations, find the right people.</p>
    </div>
    <div class="showcase">

      <div class="half">

        <div class="icon">
          <img class="icon_img" src="{% static 'img/icon_des.png' %}"/>
          <a href="{% url 'search' %}?next=designers"><input type="submit" value="See all Designers" class="sign_up_button des_color"/></a>
        </div>
      </div>
      <div class="half">
        <div class="icon">
          <img class="icon_img" src="{% static 'img/icon_pro.png' %}"/>
          <a href="{% url 'search' %}?next=programmers"><input type="submit" value="See all Programmers" class="sign_up_button pro_color"/></a>
        </div>
      </div>
       <div class="clear"></div>
    </div>
  </div>
  <div id="product">
  
    <div class="design_program">
      <h5 class="subtitle">Products come to life</h5>
      <p class="subtitle_des">Backed by the support of Tmate, collaborators remain involved in product 
marketing and maintenance as the product continues to evolve.</p>
    </div>

  </div>

</section>

<div class="clear"></div>

{% endblock %}

{% block js %}
{% endblock %}
